.nav-bar ul {
    list-style: none;
    display: flex;
    background-color: var(--color-secondary);
}

.nav-bar li {
    position: relative; /* Establish positioning context for dropdown */
}

/* Style for the top-level navigation items */
.nav-bar li > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--color-white);
}

/* Hide sub-levels by default */
.sublvl-1,
.sublvl-2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    /* background-color: var(--color-white); */
    /* z-index: 1; */
}

/* Show sub-levels on hover */
.nav-bar li:hover > .sublvl-1,
.nav-bar li:hover > .sublvl-2 {
    display: block;
}

/* Style for second-level navigation items */
.sublvl-1 ul,
.sublvl-2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sublvl-1 li {
    margin: 0;
}

.sublvl-1 a {
    padding: 8px 16px;
    display: block;
    color: #333; /* Change dropdown link color */
    white-space: nowrap; /* Prevent wrapping of dropdown text */
}


.sublvl-1 ul li,
.sublvl-2 ul li {
    display: block;
}

.sublvl-1 ul li a,
.sublvl-2 ul li a {
    padding: 8px 15px;
    text-decoration: none;
    color: var(--color-white);
}

.nav-bar li:hover > a,
.sublvl-1:hover > a,
.sublvl-2:hover > a {
    background: var(--color-primary);
}