table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 600px) {
    th, td {
        padding: 4px;
    }
}

.table-entry{
    font-size: 20px;
}

.form {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    font-size: 0.6em;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px; /* adjust as needed */
    height: 20px; /* adjust as needed */
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    color: white;
}

.result.W {
    background-color: green;
}

.result.D {
    background-color: grey;
}

.result.L {
    background-color: red;
}

.team-container {
    display: flex;
    align-items: center; /* if you want to vertically align the logo and the team name */
}

.logo-container {
    padding-right: 10px; /* adjust as needed */
}

.standing-logo {
    width: 2em; /* adjust as needed */
    height: 2em; /* adjust as needed */
}