:root {
    --color-primary: #1980b4;
    --color-secondary: #11648e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: sans-serif;
}

/* header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
} */

.header-top {
    background: var(--color-primary);
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.logo {
    padding-left: 95px;
}